body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: aquamarine;
    font-family: "Bricolage Grotesque", sans-serif;
}

.container{
    text-align: center;   
    border: 2px solid black;
    width: 200px;
    margin: 10px;
    border-radius:5px;
    border: none;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .3);
    overflow: hidden;
}

h1{
    display: block;

}
.container > p {
    font-weight: 600;
    margin-top:0;
    margin-bottom: 0;
}
.month{
    
    padding: 10px;
    background-color: rgb(253, 72, 32);
    color: white;
}

.day{
    padding: 5px;
    background-color: white;
    color: rgb(205, 202, 202);
}

.date{
    padding: 12px;
    background-color: white;
    font-size: 4em;

}

.year{
    padding: 5px;
    background-color: white;
    color: rgb(205, 202, 202);
}